.cart-drawer-closed {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}
.cart-drawer-open {
  height: 100%;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1b1a20;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}
h4 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.2s;
}
h4:hover {
  color: #f1f1f1;
}
.cart-drawer-open .closebtn {
  position: absolute;
  top: 0;
  font-size: 20px;
  color: #ececec;
  cursor: pointer;
  width: 50px;
  height: 40px;
  text-align: center;
  margin-top: 6px;
}
.cart-drawer-closed .closebtn {
  position: absolute;
  top: 0;
  color: #ececec;
  font-size: 20px;
  width: 50px;
  height: 40px;
  text-align: center;
  margin-top: 6px;
}
.open {
	float: right;
}
.cart-icon {
	width: 60px !important;
	height: 52px !important;
}
.cart-hr {
	border-top: 2px solid black !important;
	width: 100% !important;
	margin-top: 0px !important;
}
.cart-product {
	width: 100%;
}
.product-container {
	display: flex;
}
.cart-title {
	color: #ececec;
}
.product-detail {
  padding: 5%;
  position: relative;
}
.cart-image {
  width: 59px;
  height: 86px;
}
.image-section {
	width: 15%;
	margin-right: 10px;
}
.product-info {
	display: inline-block;
  vertical-align: middle;
}