.size-section {
  width: 15%;
}
.product-section {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  min-height: 600px;
}
.main {
  display: flex;
  max-width: 1230px;
  margin: 41px auto 0;
}
.size-product-section {
  display: flex;
  padding: 27px 0%;
}
.suggetion {
  font-size: 13px;
  margin-top: 7px;
  z-index: 10;
  position: absolute;
}